[package]
name = "inspector"
version = "0.1.0"
authors = ["Peter Hall <peterjoel@gmail.com>"]
edition = "2018"

[workspace]
members = ["core", "macros", "parse_pest", "query"]

[features]
default = ["pest", "derive"]
pest = ["inspector_pest"]
derive = ["inspector_macros"]
arrayvec = ["inspector_core/arrayvec"]

[dependencies]
inspector_core = { path = "core" }
inspector_macros = { path = "macros", optional = true }
inspector_pest = { path = "parse_pest", optional = true }
inspector_query = { path = "query" }
thiserror = "1"
velcro = "0.5"
