[package]
name = "insp"
version = "0.1.0"
authors = ["Peter Hall <peterjoel@gmail.com>"]
edition = "2018"

[dependencies]
pest = "2.1"    
trees = "0.4"
thiserror = "1"
reflection = "0.1.3"
velcro = "0.5"